// IMPORTS
@import "partials/reset";


// VARIABLES

$light : honeydew;

body{
  background-color: $light;

  h1{
    font-size: 30px;
  }
}

.indvBar{
  display: inline-block;
  border: 1px solid limegreen;
  width: 5%;
  height: 100px;
  margin: 2px;
}